<h1 class="text-center">単語帳</h1>
<h5 class="my-2">単語帳の使い方</h5>
<ul class="list-group">
  <li class="list-group-item">Wordbook: 初期画面に戻ります</li>
  <li class="list-group-item">Append: 単語を追加します</li>
  <li class="list-group-item">Change: 登録済み単語を変更します</li>
  <li class="list-group-item">Delete: 単語を削除します</li>
  <li class="list-group-item">Search: 単語を検索しマッチした単語を表示します</li>
</ul>
